---
layout: component-test
title: grid-equal-cols - auto - SASS Layout Objects
css:
- ../test.css
---
<h1><code>o-grid-equal-cols--auto-cols</code> (automatic column count)</h1>
<p>Columns automatically fit to one row.</p>
<p><code>--with-row-gutters</code> is set for all of these test grids.</p>
<p>To see the effect of this, view this page in a smaller browser window and
  note how when the columns snap back to being rows, those rows have spacing
  between them.</p>
<p>Due to the limitations of the Neat grid system, only vertical gutters may
  be of a guaranteed pixel or REM size. Neat somehow fudges horizontal gutter
  metrics into percentages of the parent sizing context's width, so
  unfortunately <code>$gutter: 1em !global;</code> acts as a guide only.</p>



<h2><code>--auto-cols-for-small-or-above</code></h2>
<h3>2 columns</h3>
<div class="o-test-container">
  <div class="o-grid-equal-cols
              o-grid-equal-cols--with-row-gutters
              o-grid-equal-cols--auto-cols-for-small-or-above">
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
  </div>
</div>



<h3>3 columns</h3>
<div class="o-test-container">
  <div class="o-grid-equal-cols
              o-grid-equal-cols--with-row-gutters
              o-grid-equal-cols--auto-cols-for-small-or-above">
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
  </div>
</div>



<h2><code>--auto-cols-for-medium-or-above</code></h2>
<h3>4 columns</h3>
<div class="o-test-container">
  <div class="o-grid-equal-cols
              o-grid-equal-cols--with-row-gutters
              o-grid-equal-cols--auto-cols-for-medium-or-above">
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
  </div>
</div>



<h3>5 columns</h3>
<div class="o-test-container">
  <div class="o-grid-equal-cols
              o-grid-equal-cols--with-row-gutters
              o-grid-equal-cols--auto-cols-for-medium-or-above">
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
  </div>
</div>



<h2><code>--auto-cols-for-large-or-above</code></h2>
<h3>6 columns</h3>
<div class="o-test-container">
  <div class="o-grid-equal-cols
              o-grid-equal-cols--with-row-gutters
              o-grid-equal-cols--auto-cols-for-large-or-above">
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraphs" %>
      </div>
    </div>
    <div class="o-grid-equal-cols__cell">
      <div class="o-test-content s-cms">
        <%= partial "../../common/partials/latin-paragraph" %>
      </div>
    </div>
  </div>
</div>